.registration-fees-bg , .bank_details{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 60px;
}

.registration-fees-bg h1 {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0;
    margin: 0 0 2rem 0;
}

.register {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    align-items: flex-start;
    margin-bottom: 50px;
}
.bank-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.bank-details h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: white;
    margin: 0 0 8px;
}
.bank-details-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.bank-details-container img{
    width: 200px;
    height: 200px;
}
.bank-details-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.bank-details p{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.fees-box {
    display: flex;
    align-items: center;
}

.fees-box p {
    padding: 0px;
    margin-left: auto;
    padding-left: 15px;
    margin-top: 25px;
}

.fees-box h2 {
    font-size: 24px;
}

@media (max-width: 1450px) {
    .register {
        width: 80%;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

@media (max-width: 680px) {
    .registration-fees-bg {
        margin-top: 20px;
    }

    .registration-fees-bg h1 {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        color: white;
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 1rem 0;
        letter-spacing: 0.05em;
        line-height: 1.8rem;
        font-size: 1.4rem;
    }

    .register {
        flex-direction: column; /* Changes the layout to column */
        width: 100%;
        gap: 2px; /* Adjust the gap between the two columns */
        align-items: center;
        margin-left: 0; /* Remove the left margin */
    }

    .column {
        width: 90%; /* Make columns take more space in mobile view */
    }

    .fees-box {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }

    .fees-box h2 {
        height: auto;
        letter-spacing: 1px;
        line-height: 1.5rem;
        font-size: 22px;
    }

    .fees-box p {
        margin: 4px 0 0 0;
        padding: 0;
        font-size: 16px; /* Adjust font size for better mobile readability */
    }

    .bank-details-container{
        padding: 20px;
        flex-direction: column-reverse;
        box-sizing: border-box;
        gap: 20px;
    }
}
